*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#f5f7fb;
  color:#222;
}

.app{
  min-height:100vh;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 80px;
  background:white;
  box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.logo{
  color:#2563eb;
  font-size:30px;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:#444;
  font-weight:600;
}

.hero{
  padding:90px 80px;
  text-align:center;
}

.hero h1{
  font-size:65px;
  color:#1d4ed8;
  line-height:1.1;
}

.hero p{
  max-width:700px;
  margin:30px auto;
  line-height:1.8;
  color:#555;
  font-size:18px;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:40px;
}

button{
  padding:14px 30px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-size:17px;
}

.primary-btn{
  background:#2563eb;
  color:white;
}

.primary-btn:hover{
  background:#1d4ed8;
}

.secondary-btn{
  background:white;
  border:2px solid #2563eb;
  color:#2563eb;
}

.features{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
  padding:40px 80px 80px;
}

.card{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.card h3{
  margin-bottom:15px;
}

.card p{
  color:#666;
  line-height:1.6;
}
.analyze-form{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}

.analyze-form input,
.analyze-form textarea{

    padding:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.analyze-form button{

    background:#2563eb;
    color:white;
    padding:15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.analyze-form button:hover{
    background:#1d4ed8;
}